  body {
    background-image: linear-gradient(to right, white, grey 65%);
    font-family: 'Carme';
    padding: 20px;
  }

.lowUsage {
  color: #184f2e;

}

.mediumUsage {
  color: orange;
}

.highUsage {
  color: #a61010;
}

.true {
  color: #184f2e;
}

.false {
  color: #a61010;
}

div.citytext{
  color: black;
}

div.roomtemp {
  float :left;
  font-size:90px;
}

div.left {
  float: left;
  padding: 20px;
  font-size: 24px;
}

div.right {
  float: right;
}

img.thermImg  {
  float: left;
  max-height: 400px;
}

.btn {
  background: #a61010;
  background-image: -webkit-linear-gradient(top, #a61010, #692f2f);
  background-image: -moz-linear-gradient(top, #a61010, #692f2f);
  background-image: -ms-linear-gradient(top, #a61010, #692f2f);
  background-image: -o-linear-gradient(top, #a61010, #692f2f);
  background-image: linear-gradient(to bottom, #a61010, #692f2f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #999999;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fa2f2f;
  background-image: -webkit-linear-gradient(top, #fa2f2f, #ffffff);
  background-image: -moz-linear-gradient(top, #fa2f2f, #ffffff);
  background-image: -ms-linear-gradient(top, #fa2f2f, #ffffff);
  background-image: -o-linear-gradient(top, #fa2f2f, #ffffff);
  background-image: linear-gradient(to bottom, #fa2f2f, #ffffff);
  text-decoration: none;
}

.btndwn {
  background: #0f68a3;
  background-image: -webkit-linear-gradient(top, #0f68a3, #377094);
  background-image: -moz-linear-gradient(top, #0f68a3, #377094);
  background-image: -ms-linear-gradient(top, #0f68a3, #377094);
  background-image: -o-linear-gradient(top, #0f68a3, #377094);
  background-image: linear-gradient(to bottom, #0f68a3, #377094);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #999999;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btndwn:hover {
  background: #4c99c9;
  background-image: -webkit-linear-gradient(top, #4c99c9, #65b2e6);
  background-image: -moz-linear-gradient(top, #4c99c9, #65b2e6);
  background-image: -ms-linear-gradient(top, #4c99c9, #65b2e6);
  background-image: -o-linear-gradient(top, #4c99c9, #65b2e6);
  background-image: linear-gradient(to bottom, #4c99c9, #65b2e6);
  text-decoration: none;
}

.btngrn {
  background: #14a854;
  background-image: -webkit-linear-gradient(top, #14a854, #184f2e);
  background-image: -moz-linear-gradient(top, #14a854, #184f2e);
  background-image: -ms-linear-gradient(top, #14a854, #184f2e);
  background-image: -o-linear-gradient(top, #14a854, #184f2e);
  background-image: linear-gradient(to bottom, #14a854, #184f2e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #999999;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btngrn:hover {
  background: #1a8a41;
  background-image: -webkit-linear-gradient(top, #1a8a41, #519c7a);
  background-image: -moz-linear-gradient(top, #1a8a41, #519c7a);
  background-image: -ms-linear-gradient(top, #1a8a41, #519c7a);
  background-image: -o-linear-gradient(top, #1a8a41, #519c7a);
  background-image: linear-gradient(to bottom, #1a8a41, #519c7a);
  text-decoration: none;
}
